body{
background: linear-gradient(180deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.red_text{
    color:red
}
.text_center{
    text-align:center ;
}
.text_size24{
    font-size:24px
}
/*
margin - отступ элемента от других
margin-top: 24px- отступ сверху
margin-bottom снизу
margin-left слева
margin-right права
text-align:center - позиция текста
color:white цвет текста
background-color: while - цвет фона элемента
background-image: src("")
border: 1px solid black - обводка границ элемента
border-radius: 10px - закругление краев элемента
padding: 0px 4px 0px 4px внутренний отступ элемента
padding-bottom
padding-top
padding-left
padding-right

*/